	<div id="menu_wrapper" class="col-xs-6 col-xs-offset-3" ng-hide="champs.showResults">
		<h3 id="count_message">
				<button id="blueToggle" type="button" class="btn btn-default" aria-label="Left Align" ng-click="champs.blueStart = true">
				  <span class="glyphicon glyphicon-circle-arrow-left"></span>
				</button>
			<ng-pluralize count=champs.count
		                 when="{'0': 'Select Your Team:',
		                 				'1': 'Analyze My Comp:',
		                     	'other': 'Analyze My Comp'}">
			</ng-pluralize>

			<button ng-show="champs.blue.length>0 || champs.purple.length>0" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Modal</button>
			<a ng-show="champs.blue.length>0 || champs.purple.length>0" type="button" class="btn btn-primary btn-lg" ng-click="champs.results()">Flip</a>

				<button id="purpleToggle" type="button" class="btn btn-default" aria-label="Right Align" ng-click="champs.blueStart = false">
				  <span class="glyphicon glyphicon-circle-arrow-right"></span>
				</button>
		</h3>
		
<div class="row">
		<div id="champ_menu">
	    <input id="search" ng-model="searchChamp" placeholder="Search a Champion!" autofocus />
	    <button class="btn btn-info" ng-click="champs.resetChamps()">Reset</button>
			<div ng-repeat="champ in champs.champs | orderBy: 'name' | filter: searchChamp" >
				<img class="champ_imgs morph" ng-click="champs.addChamp(champ)" ng-src="{{champ.img}}">
			</div>
		</div>
</div>

<br><br><br>
</div>	



<!-- RESULTS STUFF -->
<div id="results_wrapper" class="col-xs-6 col-xs-offset-3" ng-show="champs.showResults">
	<h1>Here's who we'd recommend:  <button id="back_btn" class="btn btn-primary" ng-click="champs.showResults=false; champs.resetChamps()">Back</button></h1>
			<div ng-repeat="(key, champ) in champs.bestChamps | orderBy: 'name'">
				<h3>{{key+1}} : {{champ.name}}</h3>
				<img class="best_imgs" ng-click="champs.addChamp(champ)" ng-src="{{champ.img}}">
			</div>
</div>
<!-- RESULTS STUFF -->



	<div id="frame" class="container">
		
		<div class="row">
			<div id="p1" ng-class="{'picking': (champs.count===0 && champs.blueStart === true) || (champs.count===1 && champs.blueStart === false)}" class="champ col-xs-2"><h4>blue team</h4><img class="champ_pic" ng-click="removeChamp(champ)" ng-src="{{champs.blue[0].img?champs.blue[0].img:' '}}"></div>
			<div id="title" class="col-xs-8"></div>
			<div id="p6" ng-class="{'picking': (champs.count===1 && champs.blueStart === true) || (champs.count===0 && champs.blueStart === false)}" class="champ col-xs-2"><h4>purple team</h4><img class="champ_pic" ng-click="removeChamp(champ)" ng-src="{{champs.purple[0].img?champs.purple[0].img:' '}}"></div>
		</div>

		<div class="row">
			<div id="p2" ng-class="{'picking': (champs.count=== 3 && champs.blueStart === true) || (champs.count===2 && champs.blueStart === false)}" class="champ col-xs-2"><img class="champ_pic" ng-click="removeChamp(champ)" ng-src="{{champs.blue[1].img?champs.blue[1].img:' '}}"></div>
			<div id="p7" ng-class="{'picking': (champs.count===2 && champs.blueStart === true) || (champs.count===3 && champs.blueStart === false)}" class="champ col-xs-2 col-xs-offset-8"><img class="champ_pic" ng-click="removeChamp(champ)" ng-src="{{champs.purple[1].img?champs.purple[1].img:' '}}"></div>
		</div>

		<div class="row">
			<div id="p3" ng-class="{'picking': (champs.count===4 && champs.blueStart === true) || (champs.count===5 && champs.blueStart === false)}" class="champ col-xs-2"><img class="champ_pic" ng-click="removeChamp(champ)" ng-src="{{champs.blue[2].img?champs.blue[2].img:' '}}"></div>
			<div id="p8" ng-class="{'picking': (champs.count===5 && champs.blueStart === true) || (champs.count===4 && champs.blueStart === false)}" class="champ col-xs-2 col-xs-offset-8"><img class="champ_pic" ng-click="removeChamp(champ)" ng-src="{{champs.purple[2].img?champs.purple[2].img:' '}}"></div>
		</div>

		<div class="row">
			<div id="p4" ng-class="{'picking': (champs.count===7 && champs.blueStart === true) || (champs.count===6 && champs.blueStart === false)}" class="champ col-xs-2"><img class="champ_pic" ng-click="removeChamp(champ)" ng-src="{{champs.blue[3].img?champs.blue[3].img:' '}}"></div>
			<div id="p9" ng-class="{'picking': (champs.count===6 && champs.blueStart === true) || (champs.count===7 && champs.blueStart === false)}" class="champ col-xs-2 col-xs-offset-8"><img class="champ_pic" ng-click="removeChamp(champ)" ng-src="{{champs.purple[3].img?champs.purple[3].img:' '}}"></div>
		</div>

		<div class="row">
			<div id="p5" ng-class="{'picking': (champs.count===8 && champs.blueStart === true) || (champs.count===9 && champs.blueStart === false)}" class="champ col-xs-2"><img class="champ_pic" ng-click="removeChamp(champ)" ng-src="{{champs.blue[4].img?champs.blue[4].img:' '}}"></div>
			<div id="p10" ng-class="{'picking': (champs.count===9 && champs.blueStart === true) || (champs.count===8 && champs.blueStart === false)}" class="champ col-xs-2 col-xs-offset-8"><img class="champ_pic" ng-click="removeChamp(champ)" ng-src="{{champs.purple[4].img?champs.purple[4].img:' '}}"></div>
		</div>

	</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">

			<div>
				<h1>Here's who we'd recommend:  <button id="back_btn" class="btn btn-primary" ng-click="champs.showResults=false; champs.resetChamps()">Back</button></h1>
						<div ng-repeat="(key, champ) in champs.bestChamps | orderBy: 'name'">
							<h3>{{key+1}} : {{champ.name}}</h3>
							<img class="best_imgs" ng-click="champs.addChamp(champ)" ng-src="{{champ.img}}">
						</div>
			</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


