	<div id="menu_wrapper" class="col-xs-12">


		<h3 id="count_message">
				<button id="blueToggle" type="button" class="btn btn-default" aria-label="Left Align">
				  <span class="glyphicon glyphicon-circle-arrow-left"></span>
				</button>
			<ng-pluralize count=champs.blue.length + champs.purple.length
		                 when="{'0': 'Select Your 4 Teammates:',
		                     	'1': '3 more to go.',
		                     	'2': '2 more to go.',
		                     	'3': 'Select 1 more or... Lock in Now: ',
		                     	'4': 'Analyze My Comp'}">
			</ng-pluralize>
			<a ng-show="champs.blue.length>2" type="button" class="btn btn-primary" ng-href="/results">Analyze</a>
				<button id="purpleToggle" type="button" class="btn btn-default" aria-label="Right Align">
				  <span class="glyphicon glyphicon-circle-arrow-right"></span>
				</button>
		</h3>
		
<div class="row">
		<div id="champ_menu">
	    <input id="search" ng-model="searchChamp" placeholder="Search a Champion!" autofocus />
	    <button class="btn btn-info" ng-click="champs.resetChamps()">Reset</button>
			<div ng-repeat="champ in champs.champs | orderBy: 'name' | filter: searchChamp" >
				<img class="champ_imgs morph" ng-click="champs.addChamp(champ)" ng-src="{{champ.img}}">
			</div>
		</div>
</div>

<br><br><br>
</div>	
<!-- <div class="clearfix"></div> -->

	<div id="frame" class="container">
		
		<div class="row">
			<div id="p1" ng-class="{'picking': champs.count===0}" class="champ col-xs-2"><h4>blue team</h4><img class="champ_pic" ng-click="removeChamp(champ)" ng-src="{{champs.blue[0].img?champs.blue[0].img:' '}}"></div>
			<div id="title" class="col-xs-8"></div>
			<div id="p6" ng-class="{'picking': champs.count===1}" class="champ col-xs-2"><h4>purple team</h4><img class="champ_pic" ng-click="removeChamp(champ)" ng-src="{{champs.purple[0].img?champs.purple[0].img:' '}}"></div>
		</div>

		<div class="row">
			<div id="p2" ng-class="{'picking': champs.count===3}" class="champ col-xs-2"><img class="champ_pic" ng-click="removeChamp(champ)" ng-src="{{champs.blue[1].img?champs.blue[1].img:' '}}"></div>
			<div id="p7" ng-class="{'picking': champs.count===2}" class="champ col-xs-2 col-xs-offset-8"><img class="champ_pic" ng-click="removeChamp(champ)" ng-src="{{champs.purple[1].img?champs.purple[1].img:' '}}"></div>
		</div>

		<div class="row">
			<div id="p3" ng-class="{'picking': champs.count===4}" class="champ col-xs-2"><img class="champ_pic" ng-click="removeChamp(champ)" ng-src="{{champs.blue[2].img?champs.blue[2].img:' '}}"></div>
			<div id="p8" ng-class="{'picking': champs.count===5}" class="champ col-xs-2 col-xs-offset-8"><img class="champ_pic" ng-click="removeChamp(champ)" ng-src="{{champs.purple[2].img?champs.purple[2].img:' '}}"></div>
		</div>

		<div class="row">
			<div id="p4" ng-class="{'picking': champs.count===7}" class="champ col-xs-2"><img class="champ_pic" ng-click="removeChamp(champ)" ng-src="{{champs.blue[3].img?champs.blue[3].img:' '}}"></div>
			<div id="p9" ng-class="{'picking': champs.count===6}" class="champ col-xs-2 col-xs-offset-8"><img class="champ_pic" ng-click="removeChamp(champ)" ng-src="{{champs.purple[3].img?champs.purple[3].img:' '}}"></div>
		</div>

		<div class="row">
			<div id="p5" ng-class="{'picking': champs.count===8}" class="champ col-xs-2"><img class="champ_pic" ng-click="removeChamp(champ)" ng-src="{{champs.blue[4].img?champs.blue[4].img:' '}}"></div>
			<div id="p10" ng-class="{'picking': champs.count===9}" class="champ col-xs-2 col-xs-offset-8"><img class="champ_pic" ng-click="removeChamp(champ)" ng-src="{{champs.purple[4].img?champs.purple[4].img:' '}}"></div>
		</div>

	</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Welcome To LolSynergy!</h4>
      	<p>Blue or Purple Team?</p>
      </div>
      <div class="modal-body">
				<button type="button" class="btn btn-default" aria-label="Left Align">
				  <span class="glyphicon glyphicon-circle-arrow-left"></span>
				</button>
				<button type="button" class="btn btn-default" aria-label="Right Align">
				  <span class="glyphicon glyphicon-circle-arrow-right"></span>
				</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


