body {
	background: url("../images/cover.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1, h2, h3, h4, p {
	color: white;
	text-align: center;
}

.navbar{
	position: fixed;
	width: 100%;
	z-index: 2;
}

.champ_imgs{
	height: 60px;
	width: 60px;
	float: left;
	margin: 5px;
}

.best_imgs{
	height: 60px;
	width: 60px;
}

#page_content{
	position: relative;
	top: 60px;
}

#menu_wrapper{
	z-index: 1;
	text-align: center;
	left: 20px;
}

#results_wrapper{
	z-index: 1;
	text-align: center;
	left: 20px;
	color: white;
}

#positions_wrapper{
	z-index: 1;
	text-align: center;
	left: 20px;
	color: white;
}


#count_message {
	text-align: center;
}

#frame{
  position: fixed;
  top: 11%;
  left: 9%;
}

#champ_menu{
	position: relative;
}

.champ_imgs:hover{
	cursor: pointer;
}

.col-xs-2 {
	height: 140px;
}

/*team comp container*/
.champ {
	background: #3f3f3f;
	color: white;
	text-align: center;
	border: 2px solid white;
}

.picking {
	background: #FFA500;
	color: white;
	text-align: center;
	border: 2px solid white;
}

/*team comp container images*/
.champ_pic {
	background: #3f3f3f;
  height: 70px;
  width: 70px;
  top: 30px;
  margin: 0 auto;
  position: relative;
}

#compContainer .col-xs-1 {
	height: 130px;
	width: 11.333333%;
}

#p1 img, #p6 img {
	top: 0px;
}

#blueToggle{
	float: left;
}

#purpleToggle {
	float: right;
}

#back_btn {
	float: right;
}

.modal-content{
	background: lightgreen;
}

/*MORPH*/
.morph {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.morph:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
