body {
	background: url("../images/cover.jpg") no-repeat center center fixed;
  background-size: cover;
}

.navbar{
	position: fixed;
	width: 100%;
	z-index: 2;
}

.champ_imgs{
	height: 60px;
	width: 60px;
	float: left;
	margin: 5px;
}

.result_imgs{
  height: 80px;
  width: 80px;
  float: left;
  margin-right: 10px;
}

#page_content{
	position: relative;
	top: 60px;
}

#menu_wrapper{
	z-index: 1;
	text-align: center;
}

#results_wrapper{
	z-index: 1;
	text-align: center;
	left: 20px;
	color: white;
}

#positions_wrapper{
	z-index: 1;
	text-align: center;
	left: 20px;
	color: white;
}


#count_message {
	text-align: center;
}

#frame{
  position: fixed;
  top: 10%;
  left: 9%;
  width: 80%;
}

#champ_menu{
  margin-top: 4em;
	position: relative;
}

.champ_imgs:hover{
	cursor: pointer;
}

.col-xs-3 {
	height: 140px;
}

/*team comp container*/
.champ {
	background: linear-gradient(180deg, rgba(0,0,0,.7), #4D4D4D);
	color: white;
	text-align: center;
	border: 2px solid white;
}

.picking {
	background: linear-gradient(180deg, rgba(248, 54, 0, .9), #FFA500);
	color: white;
	text-align: center;
	border: 2px solid white;
}

/*team comp container images*/
.champ_pic {
    background: linear-gradient(180deg, rgba(0,0,0,.7), #4D4D4D);
    height: 80px;
    width: 80px;
    top: 30px;
    margin: 0 auto;
    position: relative;
    border: solid 1px white;
    border-radius: 20px;
}

.champ_pic:hover {
	cursor: pointer;
}

.champBox{
  background: linear-gradient(180deg, rgba(0,0,0,.7), #4D4D4D);
  height: 135px;
  width: 85px;
  float: left;
  border: solid 2px white;
}

#compContainer .col-xs-1 {
	height: 130px;
	width: 11.333333%;
}

#p1 img, #p6 img {
	top: 0px;
}

#blueToggle{
	float: left;
}

#purpleToggle {
	float: right;
}

#back_btn {
	float: right;
}

#map {
  margin-bottom: 20px;
}

#great_news {
  width: 100%;
  height: 10em;
  background: green;
  border: solid 3px white;
  border-radius: 35px;
}

#damage_needed{
  width: 50%;
  margin: 0 auto;
  height: 1.5em;
  background: red;
  border: solid 3px white;
  border-radius: 35px;	
}

.category_title{	
	float: left;
	margin-bottom: 1em;
}

#analyze_btn{
  background: linear-gradient(red, orange);
  color: white;
  padding: 4% 15%;
  margin-bottom: -2em;
}

#editForm{
	color:white;
}

#aram_info{
  color:white;
}

#aram_frame{
  margin-top: 20px;
}

.aramBtn{
  margin-top: 3.5em;
}

.btn:hover {
  cursor: pointer;
}

#search{
  color:black;
}

h5{
	font-size: 30px;
  text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

/*MORPH*/
.morph {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.morph:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

@media(max-width:910px){
  #blueToggle, #purpleToggle{
    display: none;
  }

  .teamTitle{
    display: none;
  }

  #p1 img, #p6 img {
    top: 30%;
  }

  .champ_imgs {
    height: 47px;
    width: 47px;
  }

  .champ_pic {
    height: 60px;
    width: 60px;
    top: 30%;
  }
}

/*@media(max-width:770px){
    #blueToggle, #purpleToggle{
        display: none;
    }
}*/